<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loop Data in Vuejs</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .active {
            color: blue;
            text-decoration: underline;
        }
    </style>
  </head>
  <body>
    <div id="vueApp">
      <h1>Loop Data in VueJS</h1>

      <!-- looping with conditional rendering -->
      <!-- use v-show jika status only true, use v-else-if jika ada kondisi lain-->
      <ol v-if="status" :class="{active: isActive, 'text-button': text}">
        <li v-for="item in subjects" :key="item.title">
          {{ item.title }} - type - {{ item.type }}
        </li>
      </ol>

      <div v-else>
        <p>Tidak ada data</p>
      </div>

      <button @click="activate(), changeTextButton()">{{ text }}</button>
    </div>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            subjects: [
              { title: "JavaScript", type: "Native" },
              { title: "Vue", type: "Framework" },
              { title: "React", type: "Framework" },
            ],
            status: true,
            isActive: true,
            text: "Deactivate",
          };
        },
        methods: {
            activate() {
                this.isActive = !this.isActive
            },
            changeTextButton() {
                if (this.isActive === true) {
                    this.text = "Deactivate"
                } else {
                    this.text = "Activate"
                }
            }
        }
      }).mount("#vueApp");
    </script>
  </body>
</html>
